./yarn_lock
node_modules/
yarn_lock
.DS_Store
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
/build/
/dist/
/dist_old/
/external_binaries/
/out/
.npmrc
/npm/dist
/npm/path.txt
firebase-debug.log
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
database.rules.json
.firebase/*
