//https://fonts.google.com/specimen/Livvic
//@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
$font_color: #DFAA00;
$font-family: 'Livvic', sans-serif;
$font_size: 24px;
$line_height: percentage(24px / $font_size);